/* Default button style */
.sorting-button {
    background: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    font-size: 16px;
    display: inline-flex;
    align-items: center;
    padding: 0;
}
  
/* Ascending sort button style */
.sorting-button.asc {
    color: black !important;    
}

/* Descending sort button style */
.sorting-button.desc {
    color: black !important;
}

/* Button hover style (you can customize this further) */
.sorting-button:hover {
    color: #007bff; /* Change the color on hover */
}