.sidebar {
  width: 300px;
  height: 100vh;
  padding-bottom: 32.41px;
  padding-left: 18.23px;
  padding-right: 18.23px;
  background: #080325;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 48.62px;
  display: inline-flex;
  transition: ease-in-out 0.3s;
  overflow: hidden;
  position: fixed;
}

.header {
  width: 267.39px;
  flex: 1 1 1;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  display: flex;
  border-bottom: 2px solid #344055;
}

.logo-container {
  padding: 12.5px 50px;
  justify-content: flex-start;
  align-items: center;
  gap: 8.1px;
  display: flex;
}

.app-name {
  color: white;
  font-size: 32.41px;
  font-family: Poppins;
  font-weight: 700;
  word-wrap: break-word;
}

.main-navigation {
  height: 291.7px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.item {
  width: 267.39px;
  height: 72.93px;
  padding: 20.26px;
  background: #080325;
  border-radius: 4.05px;
  justify-content: flex-start;
  align-items: center;
  gap: 17.22px;
  display: inline-flex;
  cursor: pointer;
}

.item.selected {
  background: #4c9c66;
}

.icon-text {
  flex: 1 1 0;
  height: 32.41px;
  justify-content: flex-start;
  align-items: center;
  gap: 14.18px;
  display: flex;
}

.icon-chat {
  position: relative;
}

.chat {
  color: #cbcfd5;
  font-size: 14.18px;
  font-family: Inter;
  font-weight: 600;
  line-height: 20.26px;
  word-wrap: break-word;
}

.footer {
  width: 267.39px;
  height: 73.94px;
  background: #080325;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: inline-flex;
  border-top: 2px solid #344055;
  margin-top: auto;
}
